body {
    margin: 0px;
}

.Bridgy-Fed-Finder-config {
    width: 100vw;
    height: 100vh;

    @media screen and (min-height:480px) {
        display: flex;
        text-align: center;
    }

    @media screen and (min-width:680px) {
        display: flex;
        justify-content: center;
    }
}

#config-list {
    margin: auto;
    padding: 10px;
    text-align: left;

    @media screen and (min-height:480px) and (min-width:680px) {
        transform: scale(2);
        /* bad hard coding. use calc? */
    }

    button {
        border: 0px;
        padding-left: 6px;
        padding-right: 6px;
        border-radius: 300vmin;
    }

    #cacheParge {
        margin-left: 1.5rem;
    }
}

#config-list>p {
    display: inline;
}

/* css-loaders */
.loading {
    margin: auto;
    width: 25px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 4px solid #c2dfff;
    border-right-color: #208bfe;
    animation: l2 1s infinite linear;
}

@keyframes l2 {
    to {
        transform: rotate(1turn)
    }
}