body{
    margin: 0px;
}

#config-list{
    width: calc(100vw - 20px);
    height: calc(100vh - 20px);
    padding: 10px;
}

#config-list>p {
    display: inline;
}

/* css-loaders */
.loading {
    margin: auto;
    width: 25px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 4px solid #c2dfff;
    border-right-color: #208bfe;
    animation: l2 1s infinite linear;
}

@keyframes l2 {
    to {
        transform: rotate(1turn)
    }
}