.Bridgy-Fed-Finder-inpage{
    min-width: 300px;
    padding: 8px;
    position: absolute;
    bottom: 72px;
    right: 10px;
    background-color: white;
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 1.5rem;
    p,h3{
        color: black;
    }
    #close{
        position: absolute;
        right: 16px;
        top: 16px;
        border: 0px;
        padding: 0;
        background-color: transparent;
        cursor: pointer;
    }
    button{
        border: 0px;
        padding: 8px;
        border-radius: 300vmin;
    }
}