.Bridgy-Fed-Finder-dark{
    background-color: #000000;
    p,h3,label{
        color: white;
    }
    button{
        color: white;
    }
    button:not(:disabled){
        background-color: #208bfe;
    }
    button:not(:disabled):hover{
        background-color: #4ca2fe;
    }
}